@import "~react-image-gallery/styles/css/image-gallery.css";
	
html {
	justify-content:center;
	min-height:80vh;
}
body {
	position:relative;
	padding: 0;
	margin: auto;
	max-width:500px;
	min-height:80vh;
}

/* @media (prefers-color-scheme: light) {
  body {
    background: rgb(245,245,245);
    color: black;
  }
}
@media (prefers-color-scheme: dark) {
  html {
    background: rgb(30,30,30);
    color: white;
  }
}
 */
a {
	color: rgb(45,136,255);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
.displayImage {
	max-width: 100%;
	display: block;
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
}
img {
	max-width: 100%;
	display: block;
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
}

h1, h2 {
	margin: 10px;
}

.content {
	padding: 4px;
	text-align: center;
	justify-content: center;
}

.buttons {
	margin:auto;
	position: relative;
	width: 100%;
	flex-direction: column;
	margin-bottom:80px;
}

.photoTitle {
	font-size: 1.6rem;
	margin-bottom:0;
}
.photoAuthor {
	font-size: 1rem;
}


.next {
	float: left;
	width: 50%;
	line-height: 1.5;
	font-size: 1.5rem;
	text-align: right;
}
.previous {
	float: left;
	width: 50%;
	line-height: 1.5;
	font-size: 1.5rem;
	text-align: left;
}

.gohome {
	line-height: 1.5;
	font-size: 1.4rem;
}

.setTheme {
	width:50px;
	height:23.5px;
	position:absolute;
	right: 5px;
	top: 20px;
}
.homeButton {
	width:100%;
	position:absolute;
	left: 5px;
	top: 20px;
	font-size:1.3rem;
}